.top {
	width: 100%;
	height: 130px;
	display: inline-block;
}

.logo {
	margin-left: 10px;
	margin-top: 20px;
	height: 100px;
	width: 140px;
	float: left;
	display: inline-block;
}

body {
	background-image: url(../img/background.jpg);
}

.logoImg {
	width: 90px;
	height: 90px;
}

.header {
	height: 100px;
	float: left;
	display: inline-block;
}

.name {
	font-size: 50px;
}

.localization {
	margin-rigth: 150px;
	float: right;
	height: 300px;
	position: relative;
	text-align: right;
	padding-right: 10px;
}

.localeForm {
	float: right;
}

hr {
	margin: 5px, 0;
	background-color: yellow;
	height: 4px;
}

.personal {
	margin-rigth: 100px;
	float: right;
	height: 30px;
	position: relative;
	text-align: right;
	padding-right: 10px;
	padding-top: 5px;
}

.authorization {
	float: center;
	position: relative;
	text-align: center;
}

.error {
	color: red;
}

.copyright {
	float: right;
	height: 30px;
	position: relative;
	margin-right: 10px;
}

.footer {
	position: relative;
	width: 100%;
	height: px;
	display: block;
	bottom: 0;
}

.content {
	padding-left: 10px;
	min-height: 380px;
}

.error_div {
	text-align: center;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -200px 0 0 -200px;
}